version: "3.9"

services:
  postgres:
    image: postgres:18
    container_name: pg
    restart: unless-stopped

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: SaasDB
      PGDATA: /var/lib/postgresql/18/docker

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/18/docker

volumes:
  pgdata:
